<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<%= link_to 'New Post', new_team_post_path(@team) %>

<ul>
  <% @posts.each do |post| %>
    <li>
      <%= link_to post.name, edit_team_post_path(@team, post) %>
    </li>
  <% end %>
</ul>
